@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
@keyframes slide {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
@keyframes slide-hide {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}
.mobile-menu {
    animation-name: slide;
    animation-duration: 0.6s;
}
.slide-hidden {
    animation-name: slide-hide;
    animation-duration: 0.5s;
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover {
    background-image: linear-gradient( to right, rgba(112, 157, 255, 0.8), hsla(242,74%, 61%, 0.8)) !important;
}